.row
  .col-md-3
    .group-wrapper.side.checkout
      =image_tag "kauppa/ikkuna.jpg"

  .col-md-7
    .row
      %h3.highlight Tilaus- ja toimitusehdot
      %br/
      %h4.text Yrityksen tiedot
      %b Auringosta itään Kuusta länteen 
      %br/
      .text-black
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi
      Lightning Raisa & Torsten Oy (Y-tunnus: 2380478-1)
      %br/
      Fiskarsintie 513, 10470 Antskog 
      %br/
      %br/
      
      %h4.highlight Asiointi verkkokaupassa
      %p.highlight Voit tehdä ostoksia verkkokaupassamme mikäli olet yli 18-vuotias. ?? 
      %p Ostaessasi verkkokaupasta sinun ei ole pakko rekisteröityä, mutta jos teet sen, pääset jälkikäteen selaamaan tilaustesi tietoja. Rekisteröityneenä asiakkaana sinun ei myöskään tarvitse kirjoittaa yhteystietojasi uudelleen, kun ostat seuraavan kerran. 
      %p Tehtyäsi tilauksen ja hyväksyttyäsi tilaus- ja toimitusehdot, saat sitovan tilausvahvistuksen sähköpostiisi. Toimitamme tilauksia tällä hetkellä vain Suomeen. Tuotteiden värit voivat poiketa hieman nettisivuillamme olevien kuvien väreistä.
      %br/

      %h4.highlight Maksutavat
      %p Maksutapana on turvallinen tilisiirto/ennakkomaksu. Tehtyäsi tilauksen näet tilausvahvistus-sivulla tarvittavat maksutiedot ja tilinumeromme. Saat tiedot myös automaattisesti sähköpostiisi. 
      %p Kun maksusuoritus näkyy tilillämme, postitamme tilauksesi 1-3 arkipäivän kuluessa. 
      %p 
        Jos et jostain syystä saa tilausvahvistusta, ota yhteyttä asiakaspalveluumme 
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi. 
      %br/  

      %h4.highlight Hinnat ja toimituskulut 
      %p Nettikaupan voimassaolevat hinnat näkyvät kunkin tuotteen kohdalla euroina. Hinta sisältää voimassa olevan arvonlisäveron. Pidätämme oikeuden hintojen muutoksiin.
      %p Toimitamme tilaukset postipakettina. Voit myös noutaa tilaksesi myymälästämme, jolloin vältyt postikuluilta.
      %p Toimituskulut näet alla olevasta taulukosta. Tilausta tehdessäsi kulut näkyvät ostoskorissasi. Yli 100 € tilauksen toimitamme ilman postikuluja (postipaketti). 
      %p Tuotteet voi tilata myös postiennakolla, sen lisämaksu postipaketille on 4 €. 
      
      %br/
      
      %h4.text Toimituskulut
      %div{:align => "center"}
        %table.table.table-hover.table-condensed 
          %tr
            %th paino
            %th 
              Postipaketti
              %br/
              noudetaan postista
            %th
              Ovelle-paketti
              %br/
              vastaanottajan ovelle
            %th
              Postiennakko,
              %br/
              Postipaketti
          %tr
            %td  alle 2 kg
            %td 7 €
            %td 10 €
            %td 11 €
          %tr
            %td  2—5 kg
            %td 9 €
            %td 12 €
            %td 13 €
          %tr
            %td  5—15 kg
            %td 11 €
            %td 14 €
            %td 15 €
          %tr
            %td  15—30 kg
            %td 15 €
            %td 17 €
            %td 19 €
      %br/


      %h4.highlight Peruuttaminen ja tuotepalautukset
      %p Sinulla on asiakkaana kuluttajasuojalain mukainen 14 vuorokauden mittainen tilauksen peruuttamis-/palauttamisoikeus. Palautuksissa ota aina ensin yhteys nettikauppaamme palautuksen sopimiseksi. Palautettavan tuotteen tulee olla avaamattomassa alkuperäispakkauksessa ja sen tulee olla myyntikuntoinen, käyttämätön ja muuttumaton. Luonnonkosmetiikan osalta pakkauksen avaaminen ja tuotteen testaaminen johtaa palautusoikeuden peruuntumiseen.
      %ul
        %li Palautukset tulee lähettää postin kautta.
        %li Asiakkaan tulee aina itse maksaa palautuksen postikulut ja pakata tuotteet huolellisesti.
      
      %p Palautetun tilauksen maksu hyvitetään ilmoittamallesi tilille 14 vuorokauden kuluessa palautuksen vastaanottamisesta, edellyttäen että palautetut tuotteet ja niiden pakkaukset ovat asianmukaisessa kunnossa. 
      %p Mikäli tilaamasi tuote on viallinen tai vahingoittunut lähetyksessä, ilmoita asiasta asiakaspalveluumme heti vian todettuasi. Pyrimme korvaamaan viallisen tuotteen uudella. Mikäli tämä ei ole mahdollista, hyvitämme maksetun summan, sisältäen tuotteen hinnan ja toimituskulut. Hyvitys tehdään sen jälkeen kun vika on todennettu. 
      %p 
        Jos sinulla on kysymyksiä tilauksestasi tai tuotteista, ota yhteyttä asiakaspalveluumme,
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi. 
      %br/
      
      
      
      %h4.highlight Tietosuoja, henkilötiedot ja rekisteröityminen
      %p Ostaessasi verkkokaupasta voit kirjautua asiakkaaksemme. Silloin sinun ei tarvitse kirjoittaa yhteystietojasi uudelleen kun ostat seuraavan kerran, ja voit jälkikäteen tarkistaa tilauksiesi tiedot. 
      %p Rekisteröityneille asiakkaillemme saatamme tehdä kanta-asiakastarjouksia, muutaman kerran vuodessa.
      %p 
        Käytämme meille annettuja henkilötietoja ainoastaan asiakassuhteiden hoitamiseen. Emme luovuta niitä ulkopuolisille. Asiakas voi poistaa yhteystietonsa milloin tahansa lähettämällä poistamispyynnön sähköpostitse 
        %a{href: "mailto: info@auringostaitaan.fi"} (info@auringostaitaan.fi).
        Emme pyydä emmekä tallenna mitään henkilökohtaisia maksutietoja asiakkailta.
        %br
        %br
        
      %h4.highlight 
        %em Tervetuloa asiakkaaksemme!
        %br
        %br
        %a.btn.btn-primary.btn-lg{:href => "/",:role => "button"} Palaa verkkokaupan etusivulle 
        
      
      