.row
  .col-md-3
    .group-wrapper.side.checkout
      =image_tag "services/window.jpg"

  .col-md-7
    .row
      %h3.highlight Ordering and Delivery Terms
      %br/
      %h4.text Company Information
      %b Auringosta itään Kuusta länteen 
      %br/
      .text-black
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi
      Lightning Raisa & Torsten Ltd. (Business ID: 2380478-1)
      %br/
      Fiskarsintie 513, 10470 Antskog 
      %br/
      %br/
      
      %h4.highlight Online Shopping
      %p You must be 18 or older to shop at our online store.
      %p You do not have to register in order to shop, but if you do register, you will be able to view your order information afterwards. As a registered customer, you also will not need to re-enter your personal information the next time you shop. 
      %p After placing an order and accepting the Terms and Conditions, you will receive a confirmation email. We currently ship only within Finland. Product colors may vary slightly from the pictures on our website.
      %br/

      %h4.highlight 
      %p Payments can be made securely for bank transfer/advance payment. After completing your order you will see the order confirmation page, the required payment details and account number. You will also receive a confirmation email with this information.
      %p Once your payment has been processed, your order will be shipped within 1-3 business days.
      %p If for some reason you do not receive a confirmation email, please contact our customer service department at 
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi. 
      %br/   

      %h4.highlight Prices and Shipping Costs 
      %p Payments can be made securely for bank transfer/advance payment. After completing your order you will see the order confirmation page, the required payment details and account number.
      %p We deliver orders by postal mail. You can also pick up your order at our store, avoiding shipping costs.
      %p Shipping costs are shown below. When ordering the fees are shown in your shopping cart.
        
      %b Parcel post shipping is free on orders over 100 €.
      %p Small packages (less than two kilos) can be shipped from €4 using Maxi. Maxi does not offer shipment tracking.      
      
      %br/
      
      %h4.text Shipping Costs
      %div{:align => "center"}
        %table.table.table-hover.table-condensed 
          %tr
            %th weight
            %th 
              Pickup at Post Office  
            %th
              Doorstep Delivery
            %tr
            %td  1–5 kg
            %td 5,90 €
            %td 9,90 €
          %tr
            %td  5–10 kg
            %td 6,90 €
            %td 10,90 €
          %tr
            %td  10–15 kg
            %td 8,50 €
            %td 12,50 €
          %tr
            %td  15–30 kg
            %td 10 €
            %td 14 €
      %br/


      %h4.highlight Returns and Cancellations
      %p As a customer, the Consumer Protection Act gives you 14 days to return or exchange your order. Please only return products unused, in their original packaging. With natural cosmetics, opening the package and testing the product leads to cancellation of the money-back guarantee.
      %ul
        %li Returns must be sent through the mail.
        %li The customer is responsible for paying return postage and packaging the item carefully.
     
      %p Your refund will be credited to your account within 14 days of receipt of the returned item, provided that the returned products and their packaging are in proper condition.
      %p If the item you ordered is defective or was damaged in shipping, please notify customer service when the fault is detected. A replacement will be sent after the fault has been verified.
      
   If you have any questions about your order or products, please contact our customer service department,
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi. 
      %br/
      
      
      
      %h4.highlight Privacy Policy, Personal Information and Registration
      %p When you shop online, you can log in as a customer. Then you won't need to enter your personal information again the next time you shop , and you can check your order details online afterwards.
      %p Registered customers may receive special loyalty offers a few times a year.
      %p 
        We only use your personal information for customer relationship management. We do not share it with any third party. Customers can remove their contact details at any time by sending an email requesting erasure.
        %a{href: "mailto: info@auringostaitaan.fi"} (info@auringostaitaan.fi).
        We never store payment information from customers. 
        %br
        %br
        
      %h4.highlight 
        %em Welcome, new customers! 
        %br
        %br
        %a.btn.btn-primary.btn-lg{:href => "/",:role => "button"} Return to main store page    
      
      
