.row
  .col-md-3
    .group-wrapper.side.checkout
      =image_tag "kauppa/ikkuna.jpg"

  .col-md-9
    .row
      %h3.highlight Auringosta itään, Kuusta länteen
      %br/
      %div{:style => "float:left; padding-bottom:60px"}
        -# %img{:align => "left", :height => "275", :src => "/assets/store/kauppa/kauppa_net2-7f3764c7d512dea5783118497b5c9f7a.jpg", :width => "320"}/
      %div
        %b Auringosta itään, Kuusta länteen
        Established in 1998, our business imports interior decor and clothing collections from Asia and Europe.
        %br/
        %b We want to create and bring to our customers the beauty,
        joy and well-being of the world that we have found. All of our products are of our own design, or hand-selected by the producers.
        We meet with our producers to ensure that everything we carry is high-quality and produced in good working conditions. 
        %br/
        %b We believe in Fair Trade.
        We know the producers we buy from personally, and we support small family businesses. To us, it is important that all parties involved 
        - customers, producers and sellers - feel good. 
        %br/
        %b We go to a lot of trouble to make sure that the products we sell are beautiful and delight people. 
        %br/
        %br/
        %b Business customers, we also sell wholesale. You can find us at:
        = succeed "." do
          %a{:href => "http://tukku.auringostaitaan.fi/"} tukku.auringostaitaan.fi
        %br/

        .row
          %br/
          .col-md-6
            %b Our shop is located in Helsinki Viiskulma, and is easily accessible, for example, by trams 3T and 3B.
            %br
            %b It is open on weekdays from 11 to 6 and on Saturdays from 11 to 3.
            %br/
            %h3.highlight
              %i Welcome!
            %br/
            %br/
            
            %div.text-right
              %a{:href => "http://maps.google.fi/maps?f=q&source=embed&hl=fi&geocode=&q=fredrikinkatu+19+helsinki&sll=62.593341,27.575684&sspn=18.659796,43.901367&ie=UTF8&hq=&hnear=Fredrikinkatu+19,+00120+Helsinki&ll=60.164871,24.942656&spn=0.01281,0.025749&z=14", :style => "color:#2E6AB1;text-align:left", :target => "_blank"} View a larger map

          .col-md-6
            %iframe{:align => "left", :frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.fi/maps?f=q&source=s_q&hl=fi&geocode=&q=fredrikinkatu+19+helsinki&sll=62.593341,27.575684&sspn=18.659796,43.901367&ie=UTF8&hq=&hnear=Fredrikinkatu+19,+00120+Helsinki&ll=60.164871,24.942656&spn=0.01281,0.025749&z=14&output=embed", :width => "300"}
            %small

            
