.row.footer

  %hr
  .col-md-4
    %h4= t(:designed_by) 
    %b Ruby Design  
      
    .footer2
      =t(:powered_by) # please leave some kind of link
      %a{href: "http://rubyclerks.com/", :target => "blank"} RubyClerks
  .col-md-4
    .text-center
      %a{href: "https://www.facebook.com/Auringosta.Itaan.Kuusta.Lanteen", :target => "blank"}
        %h4.highlight Like us on Facebook!
      
        =image_tag "kauppa/facebook.gif"
    
      
  .col-md-4
    .right
      %h4.highlight  AURINGOSTA ITÄÄN, KUUSTA LÄNTEEN 
      %br/ 
      (East of the Sun, West of the Moon) 
      .footer2
        Fredrikinkatu 19 (Viiskulma), Helsinki
        %br/
        Email 
        %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi
        %br/
        Phone 09- 621 7001 | Business ID 2380478-1
        %br/
        %br/
